table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
    margin-top: 250px;
}

th, td:first-child {
    background: #fff48f;
    color: grey;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #FFF2AF;
}

th:first-child, td:first-child {
    text-align: center;
}